<div id="<%= dom_id comentario %>">
  <p>
    <strong>Autor:</strong>
    <%= comentario.autor %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= comentario.content %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= comentario.post_id %>
  </p>

</div>
