<style>
  h1{
      text-align: center;
      color: cornflowerblue;
      font-family: "Garet Heavy";
      font-size: 50px;
  }

  h2{
      text-align: left;
      margin-top: 200px;
      margin-left: 100px;
      font-family: 'Archivo', sans-serif;
      font-style: italic;
  }

  .center{
      text-align: center;
  }
</style>

<h2>Bem vindos ao site da LAENDO - Liga odontologica</h2>
<p>Adicionar dois campos ao post: Autor e resumo do post para o index</p>

<div class="center">
  <p>Clique abaixo para criar um post! </p>
  <%= link_to "Criar post!", new_post_path%>

  <p>Clique aqui para visualizar todos os posts!</p>
  <%= link_to "Visualizar posts!", posts_path %>
</div>

